*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: inter;
}

:root{
  --background: #E4E4E4;
  --grey: #5C5C5C;
  --white: #fff;
  --blockColor: #fff;
  --shadow: #1111112f 0px 0px 10px; 
  --black: #111;
}

.dark-theme{
  --background: #1b1b1b;
  --grey: #d6d6d6;
  --white: #fff;
  --name: #ffffff;
  --blockColor: #424242;
  --shadow: #1111112f 0px 0px 10px;
  --black: #fff;
  --icon: #3d3d3d;
}

body{
  background: var(--background);
}

.header{
  top: 0;
  right: 0;
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: left;
  padding: 20px;
}

.pfp {
  width: 65px;
  height: 65px;
  background: var(--background);
  border-radius: 100%;
  cursor: pointer;
  border: none;
}

.pfp-img{
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

.name-block{
  margin-left: 20px;
}

.greeting {
  font-size: 20px;
  font-weight: bold;
  color: var(--grey);
}
.name {
  font-size: 27px;
  font-weight: bold;
  color: var(--name);
}

.card-section{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.card{
  width: 80%;
  height: 175px;
  background: linear-gradient(120deg, #00B2E7, #04A5FF, #E064F7, #FF8D6C);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.balance-block{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-block{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card h1{
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
}

.card h2{
  color: var(--white);
  font-size:40px;
  font-weight: bold;
  margin-top: 15px;
}

.trans-pretext{
  margin-left: 20px;
  background: -webkit-linear-gradient(120deg, #00B2E7, #04A5FF, #E064F7, #FF8D6C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transitions{
  display: flex;
  padding: 20px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trans-block {
  margin-top: 20px;
  width: 97%;
  margin-left: 7px;
  display: flex;
  background: var(--blockColor);
  height: 70px;
  justify-content: space-between;
  border-radius: 30px;
  align-items: center;
}

.trans-img-bg{
  margin-left: 10px;
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 100%;
}

/*  */

.food{
  background: linear-gradient(#EBFF02, #FFD601);
}

.shopping{
  background: linear-gradient(#A736FF, #8F00FF);
}

.travel{
  background: linear-gradient(#FF0000, #990000);
}
.replenishment{
  background: linear-gradient(#01d219, #00ff55);
}

/*  */


.trans-img {
  width: 30px;
  height: 30px;
  margin: 15px;
}
.trans-name {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: var(--black);
}


.transDate-block {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.amount {
  font-weight: 500;
  font-size: 20px;
}
.date {
  color: #515151;
  font-weight: 500;
  font-size: 16px;
}




.menu {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.menu-block {
  height: 75px;
  background: var(--blockColor);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--shadow);
}

.home {
  cursor: pointer;
  height: 65px;
  width: 65px;
  border: none;
  background: var(--icon);
  border-radius: 100%;
}
.home img{
  height: 45px;
  width: 45px;
}
.create {
  cursor: pointer;
  padding: 35px;
  margin-bottom: 60px;
  border-radius: 100%;
  border: none;
  background: linear-gradient(#00B2E7 , #04A5FF, #E064F7, #FF8D6C);
}

.create img{
  position: absolute;
  height: 40px;
  width: 40px;
  margin: -20px;
}
.analyst {
  cursor: pointer;
  height: 65px;
  width: 65px;
  border: none;
  background: var(--icon);
  border-radius: 100%;
}

.analyst img{
  height: 45px;
  width: 45px;
}


.footer{
  height: 100px;
}

.AddBalanceBlock{
  display: none;
  bottom: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
}

@keyframes opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes opacityOpossite{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.addBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addBlock h1{
  background: -webkit-linear-gradient(10deg, #00B2E7, #04A5FF, #E064F7, #FF8D6C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 100px;
  font-size: 34px;
}
.transactions{
  display: flex;
  flex-direction: column;
}
.addInput{
  margin-top: 25px;
  padding: 20px 0px;
  text-align: center;
  font-family: inter;
  font-weight: 600;
  background: #ffffff;
  background: -webkit-linear-gradient(120deg, #00B2E7, #04A5FF, #E064F7, #FF8D6C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  border-radius: 30px;
  border: none;
  box-shadow: #3d3d3d3c 1px 1px 5px;
  outline: none;
}

.AddSelector{
  margin-top: 20px;
  padding: 20px 85px;
  font-size: 20px;
  text-align: center;
  font-family: inter;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  color: #626262;
  box-shadow: #3d3d3d3c 1px 1px 5px;
}

.addDate{
  margin-top: 20px;
  padding: 20px 55px;
  font-size: 20px;
  text-align: center;
  font-family: inter;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  color: #626262;
  box-shadow: #3d3d3d3c 1px 1px 5px;
}

.addBtn{
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  padding: 20px 110px;
  background: linear-gradient(120deg, #00B2E7, #04A5FF, #E064F7, #FF8D6C);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.addBtn span{
  font-size: 24px;
  font-family: inter;
  font-weight: 600;
  color: #fff;
}

.xmark{
  padding: 20px;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  margin: -5px;
  cursor: pointer;
}

.xmark img{
  width: 40px;
  height: 40px;
}

.income {
  color: rgb(0, 239, 20);
}

.expense{
  color: indianred;
}
